<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.doom.s1.qna.QnaDAO">

	<select id="selectMember" parameterType="String" resultType="com.doom.s1.member.MemberVO">
		SELECT * FROM member WHERE id=#{id}
	</select>

	<select id="qnaNum" resultType="Long">
		select qna_storekey_seq.nextval from dual
	</select>

  <insert id="qnaJoin" parameterType="com.doom.s1.qna.QnaVO">
  	insert into qna values(#{qna_storekey}, #{qna_title}, #{id} ,#{qna_contents}, sysdate, #{qna_phone},#{qna_kind},#{qna_tag})
  </insert>  
  

  <select id="qnaList" parameterType="com.doom.s1.util.Pager" resultType="com.doom.s1.qna.QnaVO">
  		select * from 
			(select N.*,rownum R from 
				(select * from qna where
				<choose>
					<when test="kind =='bc'">
						qna_contents
					</when>
					<when test="kind =='bt'">
						qna_title
					</when>
					<otherwise>
						id
					</otherwise>
				</choose>
				<include refid="search"></include>) N)
		where R between #{startRow} and #{lastRow}
	</select>
	
	
	
	<sql id="search">
		like '%'||#{search}||'%' and qna_storekey>=1 order by qna_storekey desc
	</sql>
	
	
	<select id="qnaCount" resultType="Long" parameterType="com.doom.s1.util.Pager">
		select count(qna_storekey) from qna
				<where>
					<if test="kind == 'bt'">
						qna_title <include refid="search"></include>
					</if>
					
					<if test="kind == 'bw'">
						id <include refid="search"></include>
					</if>
					
					<if test="kind == 'bc'">
						qna_contents <include refid="search"></include>
					</if>
				</where>
				
				
	</select>
	
	<select id="qnaSelect" resultType="com.doom.s1.qna.QnaVO" parameterType="Long">
		select * from qna where qna_storekey = #{qna_storekey}
	</select>
	
	<update id="memberUpdate">
		update member set member_div =1
	</update>
   	
  
</mapper>