<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.doom.s1.seller.SellCheckDAO">
	
	<select id="sellList" parameterType="Long" resultType="com.doom.s1.seller.SellCheckVO">
		SELECT * FROM sel_check WHRER st_key=#{st_key}
	</select>
	
</mapper>